.accountant__description {
  font-size: 16px;
  line-height: 2;
}

.accountant__megatitle {
  font-weight: bold;
}

.accountant__section {
  position: relative;
}

.accountant__nav {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  color:$c-black;
  box-shadow: none;
}
.accountant__navbar {
  font-weight: bold;
}
.accountant__icontext {
  color:$c-black;
  margin-bottom: 0;
}
.accountant__row {
  text-align: center;
}
.accountant__text {
  color:white;
}
.accountant_section {
  padding: 40px 0;
}
.accountant__title {
  padding-bottom: 20px;
}
.checkboxes {
  display: flex;
  justify-content: flex-start;
}
.checkbox {
  margin-right: 20px;
}
