// bower:scss
// endbower
@import "variables";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav .brand-logo,
nav ul a {
  color: $c-black;
}

.header__link {
  backface-visibility: hidden;
  transition: transform 0.1s ease-out;
  will-change: transform;

  &:hover {
    background: none;
    color: rgba(45,45,45,0.75);
    transform: translateY(-4px);
    transition: tra;
  }
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.account__container {
  min-height: 380px;
  line-height: 0;
  height: auto;

  &._preview {
    height: 80vh;
    padding-top: 100px;
    background: url('images/icon-seamless.png');
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: rgba(255,255,255,0.9);
      z-index: 0;
    }
  }
}

.account__paralax {
  width: 100%;
  height: 100%;
  background: url('images/icon-seamless.png');
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0;
  text-align: left;
}

footer.page-footer {
  margin: 0;
}

.parallax-container {
  &._second {
    height: 500px;
  }

  .accountant__bgfirst {
    top: -35%;
    left: 48%;
  }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.accountant__wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  &._fluid {
    min-width: 100%;
    background: $c-black;
    margin: 0;
    min-height: 300px;
    padding: 20px 0 0;
  }
}

.form__wrapper {
  width: 30%;
  margin: 0 auto;

  &._fluid {
    width: 40%;
  }
}

.account__input {
  padding: 0 60px;
}
/* label color */
.input-field label {
  color: #fff;
  border-color: #fff;
}

.input-field {
  color: #fff;
}

.form__desc {
  font-size: 16px;
  line-height: 2;
}

.account__btn {
  width: 100%;
}

.icon-bg {
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: bold;
  padding: 5px;
  text-align: center;

  &._first {
    background: url("images/logo.svg") no-repeat center center;
    background-size: contain;
    background-position: center center;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 7px;
  }
}

.brand-logo {
  padding-left: 70px !important;
}
